* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0 5rem;
}

.Header {
  display: flex;
  justify-content: center;
  &__Headline {
    border-bottom: 4px solid orange;
    font-size: 3rem;
  }
}

.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  &__CardContainer {
    display: flex;
    gap: 2rem;
  }
}

.Card {
  border: solid 2px orange;

  &__Img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;

    background-color: orange;
  }
  &__Info {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;

    &__ProductName {
      font-size: 1.5rem;
      margin-top: 2rem;
      margin-bottom: 0.5rem;
    }
    &__ProductDescription {
      padding: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
  &__PriceContainer {
    display: flex;
    gap: 1rem;
    padding: 0 0.5rem;
    &__Price {
      font-weight: bold;
      &--Discount {
        color: red;
        text-decoration: line-through;
      }
    }
  }
}

.Footer {
  &__BtnMore {
    padding: 1rem;
    background-color: orange;
    border: none;
    color: white;
  }
}
